<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping resource="com/websystique/springmvc/model/Valuta.hbm.xml"/>
        <mapping resource="com/websystique/springmvc/model/Portafoglio.hbm.xml"/>
        <mapping resource="com/websystique/springmvc/model/Titolo.hbm.xml"/>
        <mapping resource="com/websystique/springmvc/model/Mercato.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
